<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bxslider")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery.bxslider.js")

    <script type="text/javascript">
        $(document).ready(function () {
            $('.bxslider').bxSlider({
                auto: true,
                pause: 4000,
                mode: "fade",
                pager: false
            });
        });
    </script>
</head>
<body>
    <header>
        <logo><a href="@Url.Action("", "Home")"><img src="/Images/thn.png" /></a></logo>
        <div id="nav">
            <ul>
                <li>@Html.ActionLink("Home","","Home")</li>
                <li>@Html.ActionLink("Sign up","","signup")</li>
                <li>@Html.ActionLink("Login","","login")</li>

            </ul>
        </div>
    </header>
    @RenderBody()

    
    @RenderSection("scripts", required: false)
</body>
</html>
