@model thn.Models.user

@{
    ViewBag.Title = "Login | The Halo Network";
}

@section extrascripts{
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $('a[rel*=facebox]').facebox()
        });
    </script>
}

<div id="content">

<h2>Login to The Halo Network</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@ViewBag.Error</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.password)
            @Html.ValidationMessageFor(model => model.password)
        </div>

        <p>
            <input type="submit" value="Login" class="greenbutton"/>
        </p>
    </fieldset>
}
    </div>
<div id="modal" style="display:none">
    <table cellspacing="100">
        
        <tr>
            <td><a href="@Url.Action("individual", "signup")"><img src="/Images/icons/user.png" /></a></td>
            <td><a href="@Url.Action("ngo", "signup")"><img src="/Images/icons/ngo.png" /></a></td>
        </tr>
        <tr>
            <td><center><font size="20px">Individual</font></center></td>
            <td><center><font size="20px">Organization</font></center></td>
        </tr>
    </table>
</div>
